* {
  margin: 0cm;
  padding: 0cm;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
  box-sizing: border-box; }

  .novedades{
    margin: 50px;
    border: rgba(157, 163, 191, 0.403799);
   


  }

.titulos {
  justify-items: center;
  background-position: center; }

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0cm; }

.div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center; }

.grid__img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.tarjeta {
  height: 600px;
  min-height: auto;
  width: 400px;
  stroke-width: 12px;
  background-position: center;
  margin: 20px;
  margin-bottom: auto;
  padding: 50px;
  padding-right: 0ch;
  color: black;
  background-color: darkgrey;
  border-radius: 30px;
  overflow: hidden; }

.flexboox {
  display: grid;
  animation-name: coder;
  animation-duration: 4s; }

@keyframes coder {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.flex {
  display: flex; }

.mapa1 {
  margin: auto;
  text-align: center; }

.car {
  border: 5cm;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.3) 0 2px 4px -1px rgba(0, 0, 0, 0.7);
  margin: 20px;
  padding: 20px; }

.texto-tarjeta {
  color: black;
  font-size: 25px;
  font-weight: lighter;
  font-style: italic;
  text-decoration: underline;
  text-align: center;
  text-indent: 15px;
  align-items: center;
  order: initial; }

.texto {
  transform: translate(20px 100px);
  color: black;
  text-transform: capitalize;
  font-size: medium;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: lowercase;
  text-align: center; }

.seccion {
  background-color: black;
  color: white;
  background-position: center;
  margin: 10px;
  padding: 10px;
  text-align: center;
  text-decoration: solid;
  transition: padding 2s, background-color 1s; }

.seccion:hover {
  padding: 2.5rem;
  background-color: darkred; }

.loco {
  color: black;
  background-color: darkgrey;
  margin: 30px;
  padding: 30px;
  text-align: justify;
  font-family: 'Times New Roman', Times, serif; }

.footer {
  color: black;
  background-color: grey;
  scroll-padding-inline-end: 10%;
  margin: 20px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 20px;
  padding-top: 30px;
  padding-right: 20px;
  border: 12ch;
  border-radius: 20px;
  overflow: hidden; }

.body {
  background-color: beige; }

.mapa {
  display: inline-block;
  min-width: 40%;
  margin: 20px;
  padding: 20px; }

.apellido {
  margin: 3px; }

.loco__1 {
  display: flex;
  flex-wrap: wrap;
  color: white;
  margin: 20px;
  padding: 10px; }

.loco--d1 {
  background-image: linear-gradient(90deg, rgba(157, 163, 191, 0.403799) 0%, rgba(8, 9, 9, 0.633491) 83%); }

@media screen and (max-width: 600px) {
  .tarjeta {
   
    color: black;
    background-color: darkgrey;
    border-radius: 30px;
    overflow: hidden; }
/*   .body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 1cm;
    padding: 10%;
    display: flex; }  */
  
  }
