
    

@media screen and (max-width: 600px){
  .tarjeta {
    height: 80px;
    min-height: auto;
    width: 80px;
    stroke-width: 10px;
    background-position: center;
    margin: 15px;
    margin-bottom: auto;
    padding: 30px;
    padding-right: 0ch;
    color: black;
    background-color: darkgrey;
    border-radius: 30px;
    overflow: hidden; }

    .body{
      font-family: Georgia, 'Times New Roman', Times, serif;
      margin: 1cm;
      padding: 10%; 
      display: flex;
      
    }
    
    }
   

 